<html>
<head>
    <style>
        html, button, label {
            font-family: Cursive, monospace;
            font-size: 2em;
            text-align: center;
        }
        textarea {
            font-size: 0.5em;
            margin: 0.7em 0;
        }
        pre {
            display: inline-block;
            text-align: left;
        }
    </style>
    <script src="./lib/axios.min.js"></script>
    <script src="http://jsbelgrade.com/auth/js/keycloak.min.js"></script>
</head>
<body>

    <p>
        {{^result}}
            <a href="/login">Login</a>
        {{/result}}
        {{#result}}
            <a href="/logout">Logout</a>
        {{/result}}
    </p>
    <div> 
        <textarea id="access-token" placeholder="Access Token" cols="100"
            rows="15">{{result}}</textarea>
        <br>
        <button id="api-call" autofocus>Call API</button>
        <br>
        <pre id="api-response">
            <!-- API response will be displayed here. -->
        </pre>
    </div>
<script>
    var callAPIButton    = document.getElementById('api-call')
    var APIResponseArea  = document.getElementById('api-response')
    var accessTokenInput = document.getElementById('access-token')
    
    var API_HOST = 'http://jsbelgrade.com'
    var API_URL = API_HOST + '/api'

    callAPIButton.addEventListener('mousedown', () => {
        APIResponseArea.innerHTML = ''
    })

    callAPIButton.addEventListener('keydown', () => {
        APIResponseArea.innerHTML = ''
    })

    callAPIButton.addEventListener('click', () => {
        axios.request({
            url: API_URL,
            headers: {
                "Authorization": "Bearer " + accessTokenInput.value 
            }
        })
        .then(res => {
            APIResponseArea.style.color = 'green'
            APIResponseArea.innerHTML = 'Status: ' + res.status + ' ' +
                res.statusText + '\nBody: ' + 
                JSON.stringify(res.data, null, 4) 
        })
        .catch(err => {
            let errorText
            APIResponseArea.style.color = 'red'
            if (err.response) {
                APIResponseArea.innerHTML = 'Status: ' + err.response.status +
                    ' ' + err.response.statusText
            } else {
                APIResponseArea.innerHTML = 'FAILED' // err.message
            }
        })
    })
</script>
</body>
</html>
